:root {
  --color-dark: #141619;
  --color-medium: #32343a;
  --color-middle: #495169;
  --color-button: #4e619c;
  --color-light: #050a44;
  --color-primary: #0d1b75;
  --color-secondary: #57585f;
}
