.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.column {
  flex-direction: column;
}
