.main-gallery {
  background-color: var(--color-secondary);
  color: var(--color-dark);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 90vh;
  border: 1px solid var(--color-secondary);
  display: block;
}

.main-gallery .gallery {
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));

  margin-top: 20px;
  column-count: 3;
  column-width: 220px;
}

.main-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  padding: 1em;
}
.main-gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.create-random {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px;
}
.random-meme {
  height: 5rem;
  width: 10rem;

  border: 1px solid black;
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(to right, var(--color-secondary), var(--color-light));
  border-radius: 15px;
}
.random-meme:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.random-meme:active {
  transform: scale(0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.main-gallery::-webkit-scrollbar {
  width: 8px;
}

.main-gallery::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.main-gallery::-webkit-scrollbar-track {
  background: var(--color-light);
  border-radius: 10px;
}
.btn-menu {
  display: none;
}

.upload-photo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.upload-photo img:hover {
  transform: scale(1.05);
}
