.main-header {
  background: #333;
  padding: 1rem;
  color: white;
}

.meme-editor {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #333;
  border-radius: 10px;
  max-width: 1100px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.meme-editor button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.main-canvas {
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.editor {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 1.5rem;
  background-color: #4d4d4d;
  border-radius: 10px;
  color: white;
}
.text-edit {
  position: relative;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--color-secondary);
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.random-text {
  height: 2.5rem;
  width: 5rem;

  border: 1px solid black;
  font-size: 0.7rem;
  color: white;
  background: linear-gradient(to left, var(--color-secondary), var(--color-button));
  border-radius: 15px;
}
.random-text:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.random-text:active {
  transform: scale(0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.text-input input {
  margin-top: 4rem;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #555;
  color: white;
  width: 100%;
}

.text-edit button {
  padding: 0.5rem 1rem;

  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  color: white;
  transition: all 0.3s ease;
  margin: 0.5rem 0;
}

.line-editor {
  position: relative;
  padding: 1rem;
  background: linear-gradient(to left, var(--color-secondary), var(--color-button));
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.input-editor-tools,
.text-placement,
.font-editor {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
}
.text-placement {
  flex-wrap: wrap;
}

.line-editor input,
.line-editor select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #555;
  color: white;
}

.line-editor select {
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
}
.fa-plus,
.fa-trash-can,
.fa-arrow-right-arrow-left {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
.fa-plus {
  background: linear-gradient(to right, green, rgb(73, 167, 73));
}
.fa-trash-can {
  background: linear-gradient(to right, red, rgb(234, 109, 109));
}
.fa-arrow-right-arrow-left {
  background: linear-gradient(to right, rgb(63, 63, 230), rgb(111, 84, 222));
}
.size-line-btn {
  background: linear-gradient(to right, var(--color-secondary), var(--color-middle), var(--color-secondary));
}
.btn-download {
  background: linear-gradient(to right, rgb(106, 78, 229), rgb(158, 141, 234));
}
.btn-share {
  background: linear-gradient(to right, rgb(34, 119, 223), rgb(48, 154, 224));
}
.fa-align-left,
.fa-align-right,
.fa-align-center,
.fa-arrow-up,
.fa-arrow-down {
  background: linear-gradient(to right, var(--color-secondary), var(--color-middle), var(--color-secondary));
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-button);
  color: white;
  transition: all 0.3s ease;
  text-decoration: none;

  text-align: center;
}

.btn:hover {
  background-color: #ff6666;
}

.hidden {
  display: none;
}

.color-picker {
  position: relative;
  display: inline-block;
}

.color-picker input[type='color'] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.color-picker button {
  font-size: 24px;
  padding: 10px;
  background: linear-gradient(to right, var(--color-secondary), var(--color-middle), var(--color-secondary));
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.color-picker button:hover {
  background-color: #666;
  transform: scale(1.1);
}
